.newpass {
	--ui-radius: 0.25em;
	border: 1px solid #ccc;
	border-radius: 0.25em;
	box-sizing: border-box;
	margin: 0.45em 0;
	max-width: 100%;
	padding: 1.35em;
	width: 25em;
}

.newpass .form__field, .newpass .form__label, .newpass .form__input, .newpass .form__helper {
	display: block;
	line-height: inherit;
	position: relative;
	z-index: 2;
}

.newpass .form__field {
	box-sizing: border-box;
	padding: 0.45em 0;
}

.newpass .form__label, .newpass .form__input {
	font-family: inherit;
	font-size: inherit;
	font-style: inherit;
	font-weight: inherit;
}

.newpass .form__label, .newpass .form__helper {
	color: inherit;
	line-height: 1.8;
	padding: 0.45em 0;
}

.newpass .form__helper {
	font-size: 12px;
	font-style: italic;
}

.newpass .form__input {
	appearance: none;
	background: #fff;
	border: none;
	border-radius: var(--ui-radius);
	box-shadow: inset 0 0 0 1px #999;
	box-shadow: inset 0 0 0 1px #999, 0 0 0 0 #0002;
	color: #333;
	height: 2.7em;
	max-width: 100%;
	padding: 0.45em 0.675em;
	outline: none;
	width: 100%;
}

.newpass .form__input:hover {
	box-shadow: inset 0 0 0 1px #666;
	box-shadow: inset 0 0 0 1px #666, 0 0 0 0 #0002;
}

.newpass .form__input:focus {
	border: none;
	box-shadow: inset 0 0 0 2px #1793E5;
	box-shadow: inset 0 0 0 2px #1793E5, 0 0 0 0.25em #0002;
	margin: 0;
	padding: 0.45em 0.675em;
	outline: none;
	width: 100%;
}

.newpass .form__input[disabled],
.newpass .form__input[disabled]:focus {
	background: #CCC;
	border: none;
	box-shadow: inset 0 0 0 1px #999;
	font-style: italic;
	outline: none;
}

.newpass .form__input--select {
	background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA4IDgiPjxwYXRoIHN0cm9rZT0iIzAwMDgiIGZpbGw9Im5vbmUiIGQ9Ik0yIDMgNCA1IDYgMyIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIi8+PC9zdmc+");
	background-position: calc(100% - 0.675em) 50%;
	background-repeat: no-repeat;
	background-size: 0.9em 0.9em;
	padding: 0.45em 2.7em 0.45em 0.675em;
}

option {
	padding: 0.225em 0.675em;
}

.newpass .form__input--textarea {
	height: 6.3em;
	max-width: 100%;
	min-height: 2.7em;
	min-width: 100%;
	overflow: auto;
}

.newpass .form__input--checkbox,
.newpass .form__input--radio {
	appearance: none;
	cursor: pointer;
	display: inline-block;
	height: 1.35em;
	margin: 0.675em 0.45em 0.675em 0;
	padding: 0;
	vertical-align: top;
	width: 1.35em;
}

.newpass .form__label--checkbox,
.newpass .form__label--radio {
	cursor: pointer;
	display: inline-block;
	vertical-align: top;
	width: calc(100% - 2.25em);
}

.newpass .form__input--checkbox {
	background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA5IDkiPjxwYXRoIGZpbGw9IiNmZmYiIGQ9Ik04LjAzLDIuNWwtLjcxLS43MWMtLjEtLjEtLjI2LS4xLS4zNSwwbC0zLjQ3LDMuNDctMS40Ny0xLjQ3Yy0uMS0uMS0uMjYtLjEtLjM1LDBsLS43MSwuNzFjLS4xLC4xLS4xLC4yNiwwLC4zNWwyLjM1LDIuMzVzLjExLC4wNywuMTgsLjA3LC4xMy0uMDIsLjE4LS4wN0w4LjAzLDIuODVjLjEtLjEsLjEtLjI2LDAtLjM1WiIvPjwvc3ZnPg==');
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-size: 60% 60%;
}

.newpass .form__input--radio {
	border-radius: 50%;
}

.newpass .form__input--checkbox:hover,
.newpass .form__input--radio:hover {
	background-color: #cbe8f4;
	box-shadow: inset 0 0 0 1px #666;
	box-shadow: inset 0 0 0 1px #666, 0 0 0 0 #0002;
}

.newpass .form__input--checkbox:checked,
.newpass .form__input--radio:checked {
	background-color: #0092cb;
	box-shadow: inset 0 0 0 1px #0092cb;
	box-shadow: inset 0 0 0 1px #0092cb, 0 0 0 0 #0002;
}

.newpass .form__input--checkbox:checked:hover,
.newpass .form__input--radio:checked:hover {
	background-color: #32a7d5;
	box-shadow: inset 0 0 0 1px #32a7d5;
	box-shadow: inset 0 0 0 1px #32a7d5, 0 0 0 0 #0002;
}

.newpass .form__input--checkbox:checked:focus,
.newpass .form__input--radio:checked:focus {
	background-color: #0092cb;
	box-shadow: inset 0 0 0 2px #1793E5;
	box-shadow: inset 0 0 0 2px #1793E5, 0 0 0 0.25em #0002;
}

.newpass .form__input--checkbox:checked:active,
.newpass .form__input--radio:checked:active {
	background-color: #0074a2;
	box-shadow: inset 0 0 0 2px #1793E5;
	box-shadow: inset 0 0 0 2px #1793E5, 0 0 0 0.25em #0002;
}

.newpass .form__input--checkbox:disabled:not(:checked) {
	background-image: none;
}

.newpass .form__input--checkbox:disabled,
.newpass .form__input--checkbox:disabled:hover,
.newpass .form__input--checkbox:disabled:active,
.newpass .form__input--checkbox:disabled:focus,
.newpass .form__input--radio:disabled,
.newpass .form__input--radio:disabled:hover,
.newpass .form__input--radio:disabled:active,
.newpass .form__input--radio:disabled:focus {
	background-color: #ccc;
	box-shadow: inset 0 0 0 1px #999;
	box-shadow: inset 0 0 0 1px #999, 0 0 0 0 #0002;
}

.newpass button {
	background-clip: border-box;
	border: none;
	box-shadow: 0 0 0 0 #0002;
	box-sizing: border-box;
	cursor: pointer;
	display: inline-block;
	font-family: inherit;
	font-size: inherit;
	font-weight: 700;
	line-height: 1.8;
	margin: 0.45em 0.675em;
	outline: none;
	padding: 0.45em 0.675em;
	position: relative;
	text-align: center;
	text-decoration: none;
	text-shadow: none;
	text-transform: uppercase;
	vertical-align: bottom;
	width: auto;
	z-index: 2;
}

.newpass button:first-child {
	margin-left: 0;
}

.newpass button:focus {
	box-shadow: 0 0 0 0.25em #0002;
	outline: none;
}

.newpass button:hover {
	filter: brightness(1.2);
}

.newpass button:active {
	filter: brightness(0.8);
}

@media (min-width: 66em) {
	
	.newpass button {
		padding: 0.675em 1.35em;
	}

}

@media (min-width: 100em) {
	
	.newpass button {
		padding: 0.675em 2.7em;
	}

}

.newpass .newpass__title {
	font-size: 1em;
	margin: 0;
	padding: 0.9em 0 0 0;
}

.newpass .form__field--range {
	align-items: center;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.newpass .form__label--range {
	flex: 0 0 100%;
}

.newpass .form__input--range, .newpass .form__input--rangeout {
	flex: 1 1 0;
}

.newpass .form__input--range {
	appearance: auto !important;
	cursor: default;
}

.newpass .form__input--range::-webkit-slider-thumb {
	cursor: pointer;
}

.newpass .form__input--range::-moz-range-thumb {
	cursor: pointer;
}

.newpass .form__input--rangeout {
	-moz-appearance: textfield;
	-webkit-appearance: textfield;
	appearance: textfield;
	margin-left: 0.9em;
	max-width: 3.6em;
	text-align: center;
}

.newpass .newpass__input {
	padding-right: 2.7em;
}

.newpass .newpass__randomise {
	background: none;
	color: #999;
	bottom: 0.45em;
	box-shadow: none;
	font-size: inherit;
	margin: 0;
	padding: 0.45em 0;
	position: absolute;
	right: 0;
	width: 2.7em;
	z-index: 3;
}

.newpass .newpass__randomise:focus {
	box-shadow: none;
}

.newpass .newpass__randomise:hover {
	background: none;
	color: #BBB;
}

.newpass .newpass__randomise:active {
	background: none;
	color: #666;
}

.newpass .newpass__submit {
	display: block;
	width: 100%;
}

.newpass .newpass__quality {
	display: block;
	border: 1px solid;
	border-top: none;
	color: #c0414b;
	line-height: 1.8;
	font-size: 0.75em;
	margin-top: -0.85em;
	padding: 0.6em 0.675em 0.45em 0.675em;
	text-transform: uppercase;
}

.newpass .newpass__quality--ok {
	color: #20708a;
}

.newpass .newpass__quality--good {
	color: #28af55;
}

.newpass .newpass__quality--bad {
	color: #cf742f;
}